* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
body {
  background-color: #333533;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  background-color: rgba(0, 0, 0, 0.06);
}
.navbar {
  text-align: center;
}
.navbar ul {
  font-size: 3rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.navbar li {
  margin: 10px auto;
}
.navbar a {
  color: #0f8;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}
.navbar a:hover {
  color: white;
  transition: 0.3s;
}
#intro-text-1 {
  grid-area: left-text;
  font-size: 4rem;
}
#intro-text-1 br {
  display: none;
}
#intro-text-2 {
  grid-area: right-text;
  font-size: 4rem;
}
#intro-text-2 br {
  display: none;
}
p {
  text-align: center;
  color: white;
  font-family: "Lato", sans-serif;
}
a {
  color: white;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}
#profile-photo {
  grid-area: center-photo;
  display: flex;
  max-height: 780px;
  max-width: 65%;
  height: auto;
  margin: auto auto;
}
footer {
  color: white;
  text-align: center;
  margin-top: auto;
  width: 100%;
  height: 2.5rem;
  /* background-color: #242423; */
  background-color: #9b9987;
}
#footer-text {
  font-size: 0.7rem;
  padding: 13px;
  display: flex;
  justify-content: space-around;
}
@media only screen and (min-width: 768px) {
  .navbar {
    max-width: 200px;
    margin: auto;
  }
  .navbar ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
  }
  .navbar li {
    padding: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .navbar {
    max-width: 200px;
    margin: auto;
  }
  .navbar ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
  }
  .navbar li {
    padding: 50px;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "left-text center-photo right-text";
    align-items: center;
  }
  #intro-text-1 br {
    display: block;
  }
  #intro-text-2 br {
    display: block;
  }
  .footer-text {
    max-width: 100px;
    margin: auto;
  }
}
