/* GENERAL */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
header {
  background-color: rgba(0, 0, 0, 0.06);
}
body {
  background-color: #333533;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */

.navbar {
  text-align: center;
}
.navbar ul {
  font-size: 3rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.navbar li {
  margin: 10px auto;
}
.navbar a {
  color: #0f8;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}
.navbar a:hover {
  color: white;
  transition: 0.3s;
}

/* MAIN */

#main-text {
  font-size: 4rem;
  margin-bottom: 50px;
}
p {
  text-align: center;
  color: white;
  font-family: "Lato", sans-serif;
  /* max-width: 500px; */
}
#profile-photo {
  display: flex;
  max-height: 780px;
  max-width: 65%;
  height: auto;
  margin: auto auto;
}

/* FOOTER */

footer {
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  /* background-color: #242423; */
  background-color: #9b9987;
}
#footer-text {
  font-size: 0.7rem;
  padding: 13px;
  max-width: 500px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
a {
  color: white;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {
  .navbar {
    max-width: 200px;
    margin: auto;
  }
  .navbar ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
  }
  .navbar li {
    padding: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .navbar {
    max-width: 200px;
    margin: auto;
  }
  .navbar ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
  }
  .navbar li {
    padding: 50px;
  }
  .main-container {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    margin: auto auto 0 auto;
  }
  #main-text {
    margin-top: 300px;
  }
}
